/*mobile*/
@media only screen and (max-width:600px)
{
    body {
        font-size: 10px;
    }

    .principal {
        align-items: flex-start;
        margin: 10px 10px 0 0;
    }

    .container {
        height: 50vh;
        margin-bottom: 50px;
    }

    .container__celular {
        display: flex;
        flex-direction: column;
    }

    .container__combo{
        flex-direction: column-reverse;
    }

    .container__caixa {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container__titulo {
        font-size: 14px;
    }

    .container__imagem {
      width: 60%;
      text-align: center;
      align-items: center;
    }

    .container__aviso {
        font-size: 8px ;
    }

    .descricao__titulo {
        font-size: 24px;
    }

    .dispositivos__titulo {
        font-size: 24px;
    }

    .dispositivos__lista {
        flex-direction: column;
    }

    .rodape__lista {
        flex-direction: column;
        gap: 1em;
        margin-top: 2em;
    }

    .lista__link a{
        font-size: 1.3em;
        margin-left: 0em;
    }

    .rodape__texto {
        font-size: 10px;
    }

}


/*tablet*/
@media only screen and (max-width:760px)
{
    
}


/*laptop*/
@media only screen and (max-width:992px)
{
    
}


/*Large Screen*/
@media only screen and (max-width:1200px)
{
    
}